:root 
{
    --bs-body-bg: #ffffff ;
    --bs-primary: #5bafd6;
    --bs-primary-bg-subtle: #2a6e8d;
}

.faq-header 
{
    cursor: pointer;
}

.faq-header:hover 
{
    text-decoration: underline;
}

.accordion-button:not(.collapsed) 
{
    background-color: var(--bs-primary) !important;
    color: white;
}

.sidebar
{
    border-right: 1px solid #c5c5c5;
    padding-right: 20px;
}

.btn-primary 
{
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.table thead th 
{
    background-color: var(--bs-primary-bg-subtle) !important;
    color: white; 
}

.navbar 
{
    background-color: var(--bs-primary) !important;
}

.nutrient-table .nutrient-cell 
{
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.nutrient-table .nutrient-cell:last-child 
{
    border-right: none;
}

.nutrient-table tr:last-child .nutrient-cell 
{
    border-bottom: none;
}

.nutrient-table 
{
    border-collapse: separate;
    border-spacing: 0;
}

.nutrient-table th, .nutrient-table td 
{
    padding: 8px;
    text-align: left;
}

.nutrient-table th 
{
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
}

.highlight 
{
    color: red;
    font-weight: bold;
}

.ingredient-row 
{
    height: 30px; /* Adjust as needed */
    font-size: 14px;
}
.ingredient-row td 
{
    padding: 4px; /* Adjust as needed */
}

.btn-primary 
{
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}
