:root 
{
    --bs-body-bg: #ffffff ;
    --bs-primary: #5bafd6;
    --bs-primary-bg-subtle: #2a6e8d;
}

.faq-header 
{
    cursor: pointer;
}

.faq-header:hover 
{
    text-decoration: underline;
}

.accordion-button:not(.collapsed) 
{
    background-color: var(--bs-primary) !important;
    color: white;
}

.sidebar
{
    border-right: 1px solid #c5c5c5;
    padding-right: 20px;
}

.btn-primary 
{
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.table thead th 
{
    background-color: var(--bs-primary-bg-subtle) !important;
    color: #ffffff; 
}

.navbar 
{
    background-color: var(--bs-primary) !important;
}
